junk*
media/
cache/
jelly_config/
vpn_config/
gluetun/
storage/
pictures/
database/
.env
config/
downloads/
config.ovpn
data/
letsencrypt/
import/
upload/
db/
export/
consume/
backup/
